body {
    background-color: #f8f8f8;
    color: white;
}

.blake-list {
    float: right;
    
}

.welcome-nana {
    text-align: center;
    color: mintcream;
}

.main-text {
    margin-top: 50%;

}

html {
    background: url(./Pictures/zetong-li-7pUHeP1GRC4-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    /* background-color: #f8f8f8; */
}

#bodyid {
    background: transparent;
}