.logantitle {
    font-family: 'Norican', cursive;
    /* font-family: 'Montez', cursive; */
    text-align: center;
    color: #202223;
}

.homelink {
    font-size: 2rem;
}

img {
    height: 80vh;
}